html {
  font-size:16px;
}
.App, #root {
	background-color: black;
	position: relative;
}

h1 {
  text-align:center;
}
h3 {
  text-decoration: underline;
}


.quote {
  color: white; 
  font-family: "Courier";
  font-size: 20px;
  position: relative;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  z-index: 1;
  text-align:center;
}



img {
  background-color: black;
}

video, iframe {
  height: 69vh;
  position: relative;
}

.vidquotewrapper {
    position: relative;
    min-height: 100vh;
    background-color: #000;
}


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("https://i.imgur.com/0oy6xIw.gif");
  min-height: 400px;
  opacity: 1.0;
}

.bgimg-2 {
  background-image: url("https://i.imgur.com/Wfd8itL.gif");
  min-height: 600px;
  /*background-color: rgb(25,25,25);*/
  opacity: 0.7;
  background-blend-mode: darken;
}

.bgimg-3 {
  background-image: url("https://i.imgur.com/l93hQAW.gif");
  min-height: 400px;
  opacity: 1.0;
}

.content-wrapper  {
  min-height: 50vh;
	position: relative;
	width: 100%;
	background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper li {
  list-style: none;
}


.content {
	margin: 10px 2em 10px 2em;
	font-size: 16px;
	line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .content {
    margin: 10px 15em 10px 15em;
    font-size:1.3rem;
  }

  .quote {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 24px;
  }
}